<div class="mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input type="password" name="" id="" class="form-control" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="" id="" class="form-control" placeholder="Repeat pasword">
                <label for="repeat-password">Repeat password</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input type="email" name="" id="" class="form-control" placeholder="Recovery email">
                <label for="Recovery-email">Recovery email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="" id="" class="form-control" placeholder="Recovery phone">
                <label for="recovery-phone">Recovery Phone</label>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between flex-row mb-5 mt-4">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
         <i class="fa fa-angle-left"></i> back To Contact
    </button>
    <button class="btn btn-outline-primary" cdkStepperNext>
        Submit Form <i class="fa fa-angle-right"></i>
    </button>
</div>